<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/home.css">
  <style>
  </style>
</head>
<body>
  <div class="container">
    <h1>Logo.HG</h1>
  <div class="main">
    <div class="barra-lateral">
      <div class="pesquisa">
          <input type="text" placeholder="Pesquise uma Música">
      </div>
      <div class="container-musical">
        <ul>
          <div class="musica">
            <li>Musica 1</li>
          </div>
          <div class="musica">
            <li>Musica 2</li>
          </div>
        </ul>
      </div>
    </div>
    <div class="clock">
      <div class="timer">
        <time>14:50</time>
      </div>
    </div>
  </div>
  <div class="barra-opcoes">
configurações
  </div>
  </div>
</body>
</html>