<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lofi.HG</title>
  <link rel="stylesheet" href="/styles/lofi.css">
  <script src="https://kit.fontawesome.com/df4ec8bec9.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="img/pexels-tima-miroshnichenko-6670785.jpg" alt="">
    </div>
    <div class="login">
      <div class="opcoes">
        <h1>Welcome</h1>
        <p>Please enter your details to sign in</p>
        <div class="logins">
          <ul>
            <li id="google">Google</li>
            <li id="facebook">facebook</li>
            <li id="github">Github</li>
          </ul>
          <div class="linhas">
            <span class="linha"></span>
            <p class="or">or</p>
            <span class="linha"></span>
          </div>
        </div>
        <div class="dados">
          <form method="post" action="/">
            <input type="email" placeholder="E-mail" id="email" name="email">
            <input type="password" placeholder="Senha" id="senha" name="senha">
            <a href="#">Forgot your password</a>
            <div id="enviar">
              <input type="submit" id="send">
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>